<html>
    <head>
        <meta http-equiv="Content-type" content="text/html; charset=utf-8"/>
        <title>{% block title %}Blog{% endblock %}</title>
    </head>
    <body id="">

        <p>
            <a href="{{ url_for('list_posts') }}">List posts</a> | <a href="{{ url_for('new_post') }}">New post</a>
        </p>

        {% with messages = get_flashed_messages() %}
            {% if messages %}
                <div class="flash">
                     {% for message in messages %}
                        <p>{{ message }}</p>
                     {% endfor %}
                </div>
            {% endif %}
        {% endwith %}

        {% block content %}

        {% endblock %}
    </body>
</html>
