{{extend 'layout.html'}}

<h1>Support for web2py<sup style="font-size:0.5em;">TM</sup></h1>

<p>You can get a lot of free support by joining our <a href="http://groups.google.com/group/web2py">mailing list</a>. We also have a <a href="http://www.web2py.com/AlterEgo">FAQ</a> page.</p>
<p>For professional support you can contact one of the companies below which provide web2py support.</p>

<h2>Affiliated Companies</h2>

<ul>
<li><a href="http://www.metacryption.com">MetaCryption, LLC</a> (USA)</li>
<li><a href="http://www.hipercenter.com/init/hospedagem/web2py">Hipercenter</la> "Web2py Ready" Hosting</li>
<li><a href="http://www.brainyone.com">Brainyone, LLC</a> (USA)</li>
<li><a href="http://quadraforte.com">QuadraForte LLC</a> (USA)</li>
<li><a href="http://www.onemewebservices.com">OneMeWebServices</a> (Canada)</li>
<li><a href="http://www.star-nix.com/34/the-first-web2py-enabled-hosting-service/">star-nix (web2py web hosting)</a> (USA)</li>
<li><a href="http://www.androsoft.pl">ANDROSoft</a> (Poland)</li>
<li><a href="http://emotionull.com">Emotionull</a> (Greece and Cyprus)</li>
<li><a href="http://zarealye.com/ca/Collect_Advantage">Zarealye, Ltd.</a> (Russia)</li>
<li><a href="http://www.vsa-services.com/">VSA Services</a> (Singapore)</li>
<li><a href="http://www.albendas.com">Albendas</a> (Spain)</li>
<li><a href="http://www.easytouch-edv.com">Easy Touch</a> (Germany)</li>
<li><a href="https://loadinfo-net.appspot.com">LoadInfo</a> (Bulgaria)</li>
<li><a href="http://www.appliedobjects.com">Applied Objects</a> (New Zealand)</li>
<li><a href="http://www.sistemasagiles.com.ar/">Sistemas Ágiles</a> ("Agile Systems") (Argentina)</li>
</ul>
