<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
  <head>
    <meta http-equiv="content-type" content="text/html; charset=utf-8" />
    <meta http-equiv="content-language" content="en" />
    <title>web2py: Enterprise Web Framework</title>
    {{response.files.append(URL(r=request,c='static',f='styles.css'))}}
    {{include 'web2py_ajax.html'}}
  </head>
  <body>

    <!--[if lt IE 8]>
    <div style='border: 1px solid #F7941D; background: #FEEFDA; text-align: center; clear: both; height: 75px; position: relative;'>
      <div style='position: absolute; right: 3px; top: 3px; font-family: courier new; font-weight: bold;'><a href='#' onclick='javascript:this.parentNode.parentNode.style.display="none"; return false;'><img src='http://www.ie6nomore.com/files/theme/ie6nomore-cornerx.jpg' style='border: none;' alt='Close this notice'/></a></div>
      <div style='width: 640px; margin: 0 auto; text-align: left; padding: 0; overflow: hidden; color: black;'>
        <div style='width: 75px; float: left;'><img src='http://www.ie6nomore.com/files/theme/ie6nomore-warning.jpg' alt='Warning!'/></div>
        <div style='width: 275px; float: left; font-family: Arial, sans-serif;'>
          <div style='font-size: 14px; font-weight: bold; margin-top: 12px;'>You are using an outdated browser</div>
          <div style='font-size: 12px; margin-top: 6px; line-height: 12px;'>For a better experience using this site, please upgrade to a modern web browser.</div>
        </div>
        <div style='width: 75px; float: left;'><a href='http://www.firefox.com' target='_blank'><img src='http://www.ie6nomore.com/files/theme/ie6nomore-firefox.jpg' style='border: none;' alt='Get Firefox 3.5'/></a></div>
        <div style='width: 75px; float: left;'><a href='http://www.browserforthebetter.com/download.html' target='_blank'><img src='http://www.ie6nomore.com/files/theme/ie6nomore-ie8.jpg' style='border: none;' alt='Get Internet Explorer 8'/></a></div>
        <div style='width: 73px; float: left;'><a href='http://www.apple.com/safari/download/' target='_blank'><img src='http://www.ie6nomore.com/files/theme/ie6nomore-safari.jpg' style='border: none;' alt='Get Safari 4'/></a></div>
        <div style='float: left;'><a href='http://www.google.com/chrome' target='_blank'><img src='http://www.ie6nomore.com/files/theme/ie6nomore-chrome.jpg' style='border: none;' alt='Get Google Chrome'/></a></div>
      </div>
    </div>
    <![endif]-->
    <div class="header">
      <div class="menu layout">
        <ul>
          <li><a href="{{=URL(r=request,c='default',f='index')}}"><span>Overview of features</span>Home</a></li>
          <li><a href="{{=URL(r=request,c='default',f='what')}}"><span>Read this first</span>About</a></li>
          <li><a href="{{=URL(r=request,c='default',f='download')}}"><span>web2py is 100% free</span>Download</a></li>
          <li><a href="http://web2py.com/book"><span>The full book online</span>Documentation</a></li>
          <li><a href="{{=URL(r=request,c='default',f='who')}}"><span>Authors and contributors</span>Staff</a></li>
          <li><a href="{{=URL(r=request,c='default',f='support')}}"><span>Affiliated companies</span>Support</a></li>
        </ul>
      </div>
    </div>
    <div class="layout">
      <div class="content">
        {{if response.flash:}}<div class="flash">{{=response.flash}}</div>{{pass}}
        {{include}}
      </div>
    </div>
    <div class="footer">Copyright &copy; 2007 - 2009 - powered by <a href="http://web2py.com">web2py</a></div>
  </body>
</html>
